body{
    background-color: #2C2B3D;
    display: flex;
    justify-content: center;
    font-family: "JetBrains Mono";
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
    margin-bottom:101px;
}
nav ul{
    display: flex;
    align-items: center;
    color: #ffffff;
    gap:64px;
    list-style: none;
    font-weight: 500;
    
}
.box{
    width: calc(100vw - 20%);
    max-width: 1092px;
}
.green{
    color:#00BFA6;
}
main{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #ffffff;
    margin-bottom: 157px;
    
}
main p{
    line-height: 28px;
    font-size: 16px;
}
main h1{
    margin-bottom: 59px;
    margin-left: 77px;
}
main p{
    margin-left: 82px;
}
.line{
    border: 1px solid #00BFA6 ;
    width: 568px;
    margin-bottom: 27px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: "JetBrains Mono";
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}
.lock{
    position: fixed;
    bottom: 20px;
    left: 20px;
}